.audiojs {
  width: 600px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-left: -225px;
  margin-top: -10px; */
  overflow: hidden;
  font-family: monospace;
  font-size: 25px;
  background:  linear-gradient(to bottom, #2304be 0%, #447af7 50%, #2fc3d5 75%, #a2d9df 100%);
}

.audiojs * {
  color: #51ea13;
}

.audiojs p {
    display: none;
    width: 25px;
    height: 25px;
    margin: 0px;
    cursor: pointer;
}

/* .audiojs .play-pause, */
.audiojs .scrubber,
.audiojs .progress,
.audiojs .progress,
.audiojs .time {
  padding-top: 4px;
}
.audiojs .scrubber {
  background: black;
}

.audiojs .progress {
  background-image: none;
  background-color: #599ae6;
}

.audiojs .time {
  padding-left: 55px;
}

.audiojs .time em {
  color: #51ea13;
}

.audiojs .play {
  background-size: 39px 156px;
  transform: translate(-25%, 0);
}
